.env
Images/
.dockerignore
__pycache__/
Configs_GKD_Asymmetric/
Configs_MVTEC_Asymmetric/
Configs_GKD/
Configs_MVTEC/
gkd_images/
Inference_GKD/
ONNX_Models_GKD/
Training_GKD/
webapp/build/
webapp/dist/
Training_GKD/
Inference_GKD/
cached_gkd_images/
ONNX_Models_GKD2/
MVTec AD/
lr_finder_plots_MVTecAD/
Training_MVTec/
Inference_MVTec
lr_finder_plots_GKD/
Inference_MVTec_all_classes/
Training_MVTeC_all_classes/
Configs_MVTec_Autoencoder_baseline/
GKD_Bilder/
Configs_GKD_Autoencoder_baseline/
Training_MVTec_QAT/
Training_MVTec_paste
Inference_MVTec_paste
exported_onnx_models/
Training_GKD_cpu_asymmetric
Training_GKD_cpu
Training_GKD_2
Training_GKD_3
Inference_GKD_cpu_asymmetric
Inference_GKD_cpu
Inference_GKD_3
Inference_GKD_2
Training_GKD_asymmetric
Inference_GKD_asymmetric
Training_GKD_4_100_epochs
Training_GKD_3_200_epochs
Inference_GKD_4_100_epochs
Inference_GKD_3_200_epochs
asymmetric_gkd_onnx
gkd_onnx_baseline
training*/
inference*/
Configs*/
optimierte_onnx2/
PARETO/
PARETO2/
tmp/
PARETO_RESULTS
